<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
<h2>User Info</h2>
<br>
<form th:action="@{/admin/saveUser}" th:object="${user}">
    <label for="name"></label>
    <input type="hidden" th:field="*{id}" id="id"/>
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="name">Surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <label for="name">City: </label>
    <input type="text" th:field="*{city}" id="city"/>
    <br/>
    <label for="name">Username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="name">Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <h1>Role</h1>
    <label>
        <select multiple="multiple" th:field="*{roles}">
            <option th:each="role: ${rolesUser}"
                    th:value="${role.id}"
                    th:text="${role.toString()}">
            </option>
        </select>
    </label>
    <br>
    <br/>


    <input type="submit" value="Edit"/>
</form>

</body>
</html>